/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--page-gradient);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  align-content: start;
  padding: 100px 370px;
}

.header {
  width: var(--block-width);
  min-height: var(--header-min-height);
  margin-bottom: 100px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  font-family: var(--font-press-name), sans-serif;
  color: var(--color-black);
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100%;
 }

.header__title {
  font-size: var(--header-title-font-size);
  justify-self: center;
  align-self: end;
}

.header__subtitle {
  font-size: var(--header-subtitle-font-size);
  margin-top: 20px;
  justify-self: center;
  align-self: start;
}

.content {
  width: var(--block-width);
  display: grid;
  grid-template-rows: repeat(8, auto);
  gap: var(--content-gap);
}

.card {
  display: grid;
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  font-family: var(--font-inter-name), 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
}

.card__title {
  height: 28px;
  padding: 5px 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: var(--font-inter-weight-title);
  line-height: 100%;
}

.card__text {
  font-weight: var(--font-inter-weight-text);
  line-height: 21px;
}

.card__picture {
  position: relative;
  width: 100%;
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: var(--color-black);
  /*border-block: 2px;*/
}

.card__label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--font-press-name);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: -1px -1px var(--color-white), 1px -1px var(--color-white),
               -1px 1px var(--color-white), 1px 1px var(--color-white);
 }

 @supports((text-stroke: 1px var(--color-white)) or (-webkit-text-stroke: 1px var(--color-white))) {
  .card__label {
    -webkit-text-stroke: 1px var(--color-white);
    text-stroke: 1px var(--color-white);
    text-shadow: none;
  }
} 

.card__picture-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

}

.filter_preparation_for_work {
  filter: saturate(65%) contrast(150%);
}

.filter_blank_slate {
  filter: grayscale(0.7);
}

.filter_pursuit_ideal {
  filter: saturate(65%) sepia(50%);
}

.filter_about_those {
  filter: saturate(65%) invert(0.8);
}

.filter_workaround {
  filter: saturate(65%) sepia(80%);
}

.filter_when_you_give_up {
  filter: saturate(65%) blur(0.7rem)
}

.filter_i_am_here_now {
  filter: saturate(65%) hue-rotate(125deg) opacity(0.5);
}

.card__content {
  display: grid;
  grid-template-rows: repeat(3,auto);
  padding: 25px;
  gap: 25px;
}

.card__button-container {
  justify-self: end;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 7px;
  align-items: center;
}

.card__icon-button {
  width: 40px;
  height: 38px;
  color: var(--color-black);
  background: transparent;
  border: none;
}

.button {
  font-size: 14px;
  line-height: 90%;
  font-weight: 400;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  background: transparent;
  font-family:  var(--font-press-name);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  transition: color 0.5s ease-in-out;
  overflow: visible; 
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--color-black);
}

 .card__like-button {
  width: 130px;
  height: 38px;
  padding: 9px 17px;
}

.footer__button {
  width: var(--footer-button-width);
  height: var(--footer-button-height);
  padding: 15px 20px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-self: center;
  align-self: center;  
  gap: 8px;
  background-color: var(--color-white);
}

.button__text {
  justify-self: center;
  align-self: center;
  white-space: nowrap;
}

.disk-large {
  justify-self: center;
  align-self: center;
  width: 39px;
  height: auto;
}

.disk-small {
  justify-self: center;
  align-self: center;
  width: 21px;
  height: auto;
}

dialog {
  display: none;
}


dialog[open] {
  position: fixed;
  inset: 0;
  inline-size: var(--memory-dialog-width);
  block-size: 191px;
  border: 2px solid var(--color-black);
  background-color: var(--color-white);
  display: grid;
  justify-self: center;
  gap: 30px;
}

.dialog__content {
  inline-size: var(--dialog-content-width);
  block-size: 63px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-self: center;
  align-self: center;  
  gap: 8px;
}

.dialog__text {
  display: block;
  inline-size: 234px;;
  block-size: 63px;
  justify-self: center;
  align-self: center;
  font-family: var(--font-press-name), sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.dialog__button {
  inline-size: var(--dialog-button-width);
  block-size: 38px;
  padding: 9px 17px;
  justify-self: center;
  align-self: center;  
  border: 2px solid var(--color-black);
  background: transparent;
}


@media (min-width <=375px) {
  :root {
    /*--page-padding: 0;*/
    --block-width: 375px;
    --header-min-height: 327px;
    --footer-button-width: 306px;
    --footer-button-height: 84px;
    --memory-dialog-width: 341px;
    --dialog-content-width: 261px;
    --dialog-button-width: 261px;
  }

  .page {
    padding: 100px 0;
  }


  .card__title {
    min-height: 30px;
    padding: 4px 10px;
 }

  .footer__button {
    flex-direction: column;
 }
}
